{% extends "layout.html" %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}

{% block breadcrumbs %}
<div class="set-size-grid">
    <a href="{% url promotions:home %}">{% trans 'Home' %}</a>
    <span class="divider">/</span>
    <a href="/accounts/">{% trans 'Account' %}</a>
    <span class="divider">/</span>
    <a href="#">{% trans 'Change password' %}</a>
    <h2>{% trans 'Change password' %}</h2>
<div>
{% endblock %}

{% block content %}
    {% include "partials/nav_profile.html" with profile="active" %}

<div class="grid-9 float-left" style="padding-top:39px !important; padding-left:10px;">
    <form id="change_password_form" action="." method="post">
        {% csrf_token %}
        {% include 'partials/form_fields.html' with form=form %}
        <div class="form-actions">
            <button type="submit" class="button">{% trans 'Update password' %}</button>
            {% trans 'or' %} <a href="{% url customer:summary %}">{% trans 'cancel' %}</a>.
        </div>
    </form>
</div>
{% endblock content %}
