{% extends "layout_2_col.html" %}
{% load currency_filters %}
{% load basket_tags %}
{% load promotion_tags %}
{% load product_tags %}
{% load i18n %}

{% block title %}
{{ summary }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<div class="set-size-grid">
        <a href="{% url promotions:home %}">{% trans "Home" %}</a>
        <span class="divider">/</span>
    {% if not category %}
        <h1>{% trans "All products" %}</h1>
    {% else %}
        {% for category in category.get_ancestors|slice:":-1" %}
            <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
            <span class="divider">/</span>
        {% endfor %}
        <h1>{{ category.name }}</h1>
    {% endif %}
</div>
{% endblock breadcrumbs %}

{% block column_left %}
<div class="grid-3 float-left">
    <div class="column-left" style="padding: 8px 0;">
        <div class="box">
            <div class="box-content">
                <div class="box-category">
                {% if categories %}
                <div class="box-heading" style="padding-top: 0;">{% trans "Browse categories" %}</div>
                <div class="search" style="margin-top: 13px;">
                            <form  method="get" action="{% url search:search %}" class="navbar-form pull-right">
                            

                            
                            <input type="text" class="enterkey autoclear" name="filter_name" value="Product search" style="width: 80%;"/>
                            <input type="submit" value="{% trans "Search" %}" class="button" />
                            </form>
                        </div>
            	<ul>
            	    {% for category in categories %}
                    <li><a href="{{ category.0.get_absolute_url }}">{{ category.0.name }}</a>
                    	{% if category.1 %}
                    	<ul>
                            {% for subcategory in category.1 %}
                                <li><a href="{{ subcategory.0.get_absolute_url }}">{{ subcategory.0.name }}</a></li>
                            {% endfor %}
                    	</ul>
                        {% endif %}
                    </li>
                    {% endfor %}
            	</ul>
            	{% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="grid-9 float-left" style="padding-top:19px !important">
    <div class="product-grid">
        <div class="overflow-products clearfix"> 
            <div class="products-grid product-4 grid-9-product-3">
                {% if products.count %}
                    {% for product in products %}
                        {% include 'catalogue/partials/product_cell.html' %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    <div>
</div>
{% endblock content %}
